{{#next_post}}
<!-- Next pots -->
<section class="prev-next-post">
    <div class="container limit-width">
		<div class="row">
			<div class="col-sm-12 col-md-12 next-post">
			<a href="{{url}}" style="background-image: url('{{image}}');">
				<div class="post-meta-info">
					<h4>NEXT POST</h4>
					<h3>{{title}}</h3>
				</div>
			</a>
		</div>
	</div>
</section>
{{/next_post}}

{{#prev_post}}
<!-- Prev pots -->
<section class="prev-next-post">
    <div class="container limit-width">
		<div class="row">
			<div class="col-sm-12 col-md-12 prev-post">
				<a href="{{url}}" style="background-image: url('{{image}}');">
					<div class="post-meta-info">
						<h4>PREV POST</h4>
						<h3>{{title}}</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
{{/prev_post}}
