{{!< default}}
{{#author}}
<article class="{{post_class}}">
    <div class="container limit-width">

        {{#if cover}}
        <div class="author-profile author-profile-cover" style="background-image: url('{{cover}}');">
        {{^}}
        <div class="author-profile">
        {{/if}}

            {{#if image}}
            <div class="img-crop img-circle">
                <div class="img" style="background-image: url('{{image}}');"></div>
            </div>
            {{/if}}

            <h1>{{name}}</h1>

            {{#if location}}
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            <span>{{location}}</span>
            {{/if}}

            {{#if bio}}
            <pre>{{bio}}</pre>
            {{/if}}

            <p>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</p>

            {{#if website}}
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            <a href="{{website}}" target="_blank">{{website}}</a>
            {{/if}}

        </div>

    </div>
</article>


{{/author}}
