<div class="share">
	<!-- Google plus -->
	<a class="btn btn-social btn-sm btn-google" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-share','width=580,height=350');return false;"><i class="fa fa-google-plus"></i>Share</a>
	<!-- Facebook -->
	<a class="btn btn-social btn-sm btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=350');return false;"><i class="fa fa-facebook"></i>Share</a>
	<!-- Twitter -->
	<a class="btn btn-social btn-sm btn-twitter" href="https://twitter.com/intent/tweet?text={{title}}&url={{url absolute="true"}}" target="_blank" onclick="window.open(this.href, 'twitter-share', 'width=550,height=350');return false;"><i class="fa fa-twitter"></i>Tweet</a>
	<!-- Tumblr -->
	<a class="btn btn-social btn-sm btn-tumblr" href="http://www.tumblr.com/share/link?url={{url absolute="true"}}" target="_blank" onclick="window.open(this.href, 'tumblr-share', 'width=550,height=350');return false;"><i class="fa fa-tumblr"></i>Share</a>
</div>
